html {
	width: 100%;
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: local;
	background-size: cover;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.frosted-panel {
	-webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
	        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

svg {
	border-radius: 5px;
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}

.content {
	position: relative;
	z-index: 1;
	overflow: hidden;
}

/* EVERYTHING BELOW THIS POINT IS FOR DEMO PURPOSES ONLY */

.flex-container {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.wh {
	font-size: 30px;
	font-family: 'Electrolize', sans-serif;
	white-space: nowrap;
}

.wh:nth-child(1) {
	display: inline;
}

.wh:nth-child(2),
.wh:nth-child(3) {
	display: none;
}

@media only screen and (min-width: 600px) {
	.wh {
		font-size: 40px;
	}

	.wh:nth-child(1),
	.wh:nth-child(3) {
		display: none;
	}

	.wh:nth-child(2) {
		display: inline;
	}
}

@media only screen and (min-width: 1200px) {
	.wh {
		font-size: 40px;
	}

	.wh:nth-child(1),
	.wh:nth-child(2) {
		display: none;
	}

	.wh:nth-child(3) {
		display: inline;
	}
}
